<!DOCTYPE html>

<html lang="es">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css"/>
    </head>
    <body>
        <div class="img_logo">
            <img src="../assets/img/Logo.png" alt="alt"/>
        </div>
        <h2> <b>Formulario categoría</b></h2>
        <br>
        <div class="contenedor_formulario_categorias">
            <form method="POST" id="form_categorias" action="">
                <div class="insertar">
                    <label class="titulo"> <b>Nombre de la categoría</b> </label>
                    <br>
                    <input id='categoria' type="text" name="categorias" class="input_text" value="">
                </div>
                <br>
                <div class="botones">
                    <button id="Cancelar" type="button" class="btn_cancelar">CANCELAR</button> 
                    <button id="Guardar" type="submit" name="submit" class="btn_guardar">GUARDAR</button>
                </div>
            </form>
        </div>
        <script src="../assets/js/validaciones.js"></script>
        <br>
        <br>
        <label class="Nombre">Santiago Rodriguez </label>
    </body>
</html>