<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css"/>
    </head>
    <body>
    <center>
        <div> Lista de Categorias
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($lista_ctg as $listaCategorias){ ?>
                        <tr>
                            <td><?php echo $listaCategorias['id'] ?> </td>
                            <td><?php echo $listaCategorias['nombre_categoria']?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <a href="categorias.php?add">Agregar</a>
    </center>
        <br><br>
        <label class="Nombre">Santiago Rodriguez </label>
</body>
</html>